.aboutListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.aboutLists {
  list-style: none;
  font-size: 1rem;
}

.aboutList {
  padding: 0.5rem 0.5rem;
  transition: all 0.5s ease;
}

.aboutList:hover {
  color: rgb(217, 255, 0);
}
